<template name="shelfDisplay">
	<div id = "" class = "row">
		{{#if dbSyncReady}}
			{{> showShelfItems}}
			{{> genShortPoll}}
		{{else}}
			 <h1>Hang on! Loading...</h1>
			 <img src="/ajax-loader.gif">
		{{/if}}
	</div>
</template>

<template name = "showShelfItems">
	{{#each listShelfItems}}

		<div id = "" class = "row">
			<div class = "span1">
				<button class="btn btn-primary " type="button" itemId="{{_id}}">Vote</button>
			</div> 

			<div class = "span5">
				<div class = "shelfItem">{{description}}</div>
			</div>

			<div class = "span5">
				[VoteCount: {{yesCount}}]
			</div>
		</div>

	{{/each}}
</template>

<template name = "genShortPoll">
	<div id = "" class = "row">
		<div class = "span12">
			</br><h4>Copy and Paste on whatsApp > view results live here!</h4> 
		</div>
	</div>

	<div id = "" class = "row">
		<div class="span12"> 
			Hi friends, cast your vote by clicking on one of the following URL: 
			</br>
			{{#each listShelfItems}}
				[ {{description}} ]  <a href="{{voteUrl}}{{_id}}">{{voteUrl}}{{_id}}</a>
				</br>
			{{/each}}

		</div> 
	</div>
</template>
