<?xml version="1.0" encoding="UTF-8"?> 
<widget xmlns="http://www.w3.org/ns/widgets" 
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    version="1.0.0.0" id="HelloWorldApp">   
   
    <name>AppNameIs_HelloWorld</name> 
    <author>Victor</author>
    <description>The classic first app</description>
    <icon src="images/icon.png"/>
    <content src="index.html"/> 

	<feature id="blackberry.system" />
	<feature id="blackberry.app" />
	<feature id="blackberry.invoke" />

</widget>
